/* ---------------FAKE LOAD------------------- */
#loader {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: opacity 0.5s;
}
#loader .loader-content {
  text-align: center;
}
#loader img {
  width: 100px;
  margin-bottom: 1em;
}
#loader.hide {
  opacity: 0;
  pointer-events: none;
}
body.loading main,
body.loading header {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

/* ----------------- MAIN ----------------- */

h1 {
	color:#fff;
}

#history-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
    width:50%;
}

.song-card {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #ffedf3;
    color: #1e1e1e;
    text-align: left;
    border-radius:0.75rem;
    overflow: hidden;
}

img.song-artwork {
    width:100px;
    height:100px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}

.song-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items:start;
    gap:0px;
}

.song-title {
    font-weight:bold;
}

.song-played-at {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top:25px;}

/*-------------------*/
/* Responsive Design */

@media screen and (max-width: 768px) {
    main {
        width:95%;
        padding:10px 20px;
        margin: 0 auto;
    }

    #history-container {
        width: 100%;
    }
	
}