/*--------- SCHEDULE CONTENT ----------*/

.schedule-drawer {
	width:100%;
	display:flex;
	box-sizing: border-box;
	
}

#schedule-list {
	width:100%;
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap:15px;
	font-size:12px;
	text-transform: uppercase;
}

.schedule-day {
    width:100%;
	color:#fff;
	border-radius:4px;
	padding: 10px;
	background-color:#262424;
	box-shadow: rgba(90, 88, 88, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.current-day {
    border:3px solid #ffedf3; /* Highlight current day */
    padding: 10px;
}

.schedule-item {
    color: #fff;
    padding: 5px;
	background: #cccccc97;
    border-left: 5px solid #ccc;
	border-radius:4px;
    margin: 5px 0;
}

.current-show {
    border-left: 5px solid #f16896; /* Highlight the current show */
    background: #ffedf3;
    font-weight: bold;
	color:#333
}
