@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@400;500;600;700&display=swap');

body, html {
    margin:0;
    padding:0;
    font-family: 'Fustat', "Helvetica", sans-serif;
    background-color:#171717;
    color:#F0F4EF;
}

p {
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}

a, a:visited {
    color:inherit;
    text-decoration: none;
}


main {
    width:100%;
    padding:20px;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: start;
    height:auto;
}

/* ---------------ALBUM GRID------------------- */

#albums-container {
    width:100%;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
	gap: 1.5rem;
    margin:auto;
    padding-bottom: 20px;
}

.album{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-radius: .75rem;
    padding:10px;
    border:1px solid #ffffff4a;    
}

.cover-art {
    position:relative;
    width: 100%;
    border-radius:0.5rem;
}

.cover-art > img {
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:0.5rem;
}

.additional-info {
    margin:10px auto;
    display:flex;
    flex-direction: row;
    gap:10px;
}

.additional-info > p {
    font-size:0.7em;
    padding:7px 10px;
    border-radius:0.5rem;
    background-color: #FFBD59;
    color:#171717;
    text-transform:uppercase;
}

.main-info {
    width:100%;
    margin:15px auto;
}

.main-info > p {
    width:90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-info > .album-name {
    font-weight:bold;
    font-size:1.2em;
}

.album-link {
    cursor: pointer;
    background-color:#FFBD59;
    padding:8px 12px;
    border-radius:0.5rem;
    color:#171717;
    text-align:center;
}

/* ---------------------------------- */
/* Filters */

.filters {
	display:flex;
	justify-content: start;
	flex-direction: row;
	align-items: center;
	margin: 20px auto;
	gap:20px;
	width:100%;
	text-transform:uppercase;
    
}

.filters > div {
    background-color:#171717;
    color:#F0F4EF;
    border-radius:0.5rem;
    padding:10px;
    border:1px solid #ffffff4a;
    width:20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters > div > select {
    background-color: #171717;
    border:0;
	padding:4px 8px;
    margin-left:5px;
	color:#F0F4EF;
    width:30%;
    font-family: 'Fustat', "Helvetica", sans-serif;
    cursor: pointer;
}

/* ---------------------------------- */
/* Pagination Controls */
.pagination-controls {
    width:100%;
    height:5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    font-family: "Fustat", "Helvetica", sans-serif;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border:0;
    background-color: transparent;
    color:#F0F4EF;
    border-radius:4px;
}

.pagination-controls button.active {
    background-color: #FFBD59;
    color:#171717;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* ---------------------------------- */
/* Responsive design */

@media screen and (max-width: 768px) {

    h1 {
        text-align:center;
    }

    .filters > div {
        width:50%;
    }

    #albums-container {
        width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin:auto;
        padding-bottom: 30px;
    }

}